@charset "utf-8";
/* Author: Bamboo Solutions */

body { 
	font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, Geneva, sans-serif; 
	font-size: 14px;
	background: #fff;
	padding: 20px 0;
}

fieldset {
	background: #f5f5f5;
  	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 20px;
}

#login, #lostpassword, #resetpassword, #changepassword, #passwordchanged {
	width: 320px;
}

#login .btn-primary,
#lostpassword .btn-primary,
#resetpassword .btn-primary,
#changepassword .btn-primary  {
	float: right;
}

#ajax_status {
	display: none;
	position: fixed;
	z-index: 1040;
	top: 10px;
	right: 10px;
	padding: 5px 10px 10px 10px;
}

.navbar .pull-right {
	margin-right: 20px;
}